{% extends "registration/base.html" %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">
    <h1>Tech Support System</h1>
    {% csrf_token %}
    <div class="form-group mb-1">
        <input type="text" name="username" class="form-control" placeholder="Username" required="" autocomplete="off">
        <div>
            <br>
            <div class="form-group mb-1">
                <input type="password" name="password" class="form-control" placeholder="Password" required="" autocomplete="off">
            </div>
            <br>
            <div class="form-group mb-5">
                <input type="submit" class="form-control btn btn-primary" value="Login" />
            </div>
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}