{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'supportapp/main.css' %}">
    <title></title>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            {% if request.user.staff_code.career_descrptn != "Bronze" and request.user.staff_code.career_descrptn != "Silver" %}
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'index' %}">Tech Support</a>
                <li class="nav-item dropdown navbar-collapse">
                    <a style="color: white;" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Reports
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'issue_list' %}">Issues</a>
                        <a class="dropdown-item" href="{% url 'coach_report' %}">Staff</a>
                        <a class="dropdown-item" href="{% url 'staff_list' %}">Codes</a>
                        <a class="dropdown-item" href="{% url 'center_report' %}">Center</a>
                        <a class="dropdown-item" href="{% url 'cluster_report' %}">Cluster</a>
                        <a class="dropdown-item" href="{% url 'issue_cat_report' %}">Category</a>
                    </div>
                </li>
                <li class="nav-item dropdown navbar-collapse">
                    <a style="color: white; text-align: left;" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Configuration
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'coach' %}">Staff</a>
                        <a class="dropdown-item" href="{% url 'staff' %}">Codes</a>
                        <a class="dropdown-item" href="{% url 'center' %}">Center</a>
                        <a class="dropdown-item" href="{% url 'cluster' %}">Cluster</a>
                        <a class="dropdown-item" href="{% url 'issue_category' %}">Category</a>
                    </div>
                </li>
            </div>
            {% else %}
            <li class="nav-item dropdown navbar-collapse">
                <a class="dropdown-item" href="{% url 'issue_list' %}">Issues</a>
            </li>
            </div>
            {% endif %}
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            </div>
    </header>
    <div class="container mt-7">
        <div class="card">
            <div class="card-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>