{% extends "supportapp/base.html" %}
    {% load crispy_forms_tags  %}
      {% block content %}


<h2> Registered Users </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Username </th>
        <th>Cluster</th>
        <th>Center </th>
        <th>Staff Code </th>
        <th>Email </th>
        <th>Gender </th>
        <th>Number #</th>
      </tr>
    </thead>
    <tbody>

    {% for cch in coach %}
      <tr>
            <td>{{ cch.first_name }}</td>
            <td>{{ cch.last_name }}</td> 
            <td>{{ cch.username }}</td>
            <td>{{ cch.cluster_code.cluster_name }}</td>
            <td>{{ cch.center_code }}</td>
            <td>{{ cch.staff_code }}</td>
            <td>{{ cch.email }}</td>
            <td>{{ cch.gender }}</td>
            <td>{{ cch.phone_number }}</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
        

    {% endblock content %}



     