{% extends "supportapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <legend class="border-bottom mb-4">Tech Support Form</legend>
        <div id="div_id_issue_code" class="form-group"> <label for="id_issue_code" class=" requiredField">
                Issue code<span class="asteriskField">*</span> </label>
            <div class=""> <select name="issue_code" class="select form-control" required="" id="id_issue_code">
                    <option value="" selected="">---------</option>
                    {% for issue in issue_cat %}
                    <option value="{{ issue }}">{{ issue.description }}</option>
                    {% endfor %}
                </select> </div>
        </div>
        <input type="hidden" name="username" class="select form-control" required="" value="{{ user_details.pk }}">
        <input type="hidden" name="cluster_code" class="select form-control" required="" id="id_cluster_code" value="{{ user_details.cluster_code }}">
        <input type="hidden" name="center_code" class="select form-control" required="" value="{{ user_details.center_code}}">
        <div id="div_id_issue_description" class="form-group"> <label for="id_issue_description" class=" requiredField">
                Issue description<span class="asteriskField">*</span> </label>
            <div class=""> <textarea name="issue_description" cols="40" rows="10" maxlength="150" class="textarea form-control" required="" id="id_issue_description"></textarea> </div>
        </div>
        <div id="div_id_urgent" class="form-group"> <label for="id_urgent" class=" requiredField">
                Urgent<span class="asteriskField">*</span> </label>
            <div class=""> <select name="urgent" class="select form-control" required="">
                    <option value="" selected="">---------</option>
                    <option value="Urgent">Urgent</option>
                    <option value="Not Urgent">Not Urgent</option>
                </select> </div>
        </div>

        <div id="div_id_urgent" class="form-group"> <label for="id_urgent" class=" requiredField">
                Reported to<span class="asteriskField">*</span> </label>
            <div class=""> <select name="reported_to" class="select form-control" required="">
                    <option value="" selected="">---------</option>
                    <option value="Technician_1">Technician_1</option>
                    <option value="Technician_1">Technician_2</option>
                    <option value="Technician_1">Technician_3</option>
                </select> </div>
        </div>

</div>
<div class="form-group">
    <button class="btn btn-outline-infor" type="submit">Submit</button>
</div>
</form>
{% endblock content %}