{%extends "supportapp/base.html"%}
{% load crispy_forms_tags  %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        {% for user in sys_user %}
        <ol>
        <a class="mr-2" href="#">{{ user.first_name }}></a>
        </ol> 
        {% endfor %}

        {% for isue in coach_issues %}
        <small class="text-muted">{{ isue.issue_code }} </small>
        {% endfor %}
      </div>
      <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
      <p class="article-content"></p>
    </div>
    
  </article>
  

{% endblock content %}