{% extends "supportapp/base.html" %}
    {% load crispy_forms_tags  %}
      {% block content %}
      <div class="content-section">

<h2> Issue Category </h2>


  <table class="table table-striped">
    <thead>
      <tr>
        <th> Issue Code </th>
        <th> Description </th>
      </tr>
    </thead>
    <tbody>

    {% for cat in issucat %}
      <tr>
            <td>{{ cat.issue_code }}</td>
            <td>{{ cat.description }}</td>    
      </tr>
     {% endfor %}
    </tbody>
  </table>
        
   </div>
    {% endblock content %}



     